# Demographic Data Analyzer
**In this Jupyter Notebook, i will analyze demographic data using Pandas that was extracted from the 1994 Census database**

### Dataset Source
**Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.**

### Import Library Pandas

In [1]:
import pandas as pd

### Read data from file

In [2]:
df = pd.read_csv('adult.data.csv')

### How many of each race are represented in this dataset?

In [5]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### What is the average age of men?

In [6]:
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(),1)
average_age_men

39.4

### What is the percentage of people who have a Bachelor's degree?

In [7]:
percentage_bachelors = round(df[df['education']=='Bachelors'].shape[0]/df.shape[0]*100,1)
percentage_bachelors

16.4

### Dataframe of people with `Bachelors`, `Masters`, or `Doctorate` education

In [16]:
    higher_education =df[
    (df['education']=='Bachelors')|
    (df['education']=='Masters')|
    (df['education']=='Doctorate')]
    higher_education.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7491 entries, 0 to 32554
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             7491 non-null   int64
 1   workclass       7491 non-null   object
 2   fnlwgt          7491 non-null   int64
 3   education       7491 non-null   object
 4   education-num   7491 non-null   int64
 5   marital-status  7491 non-null   object
 6   occupation      7491 non-null   object
 7   relationship    7491 non-null   object
 8   race            7491 non-null   object
 9   sex             7491 non-null   object
 10  capital-gain    7491 non-null   int64
 11  capital-loss    7491 non-null   int64
 12  hours-per-week  7491 non-null   int64
 13  native-country  7491 non-null   object
 14  salary          7491 non-null   object
dtypes: int64(6), object(9)
memory usage: 936.4+ KB

### Dataframe of people without `Bachelors`, `Masters`, or `Doctorate` education

In [15]:
    lower_education = df[
    (df['education']!='Bachelors')&
    (df['education']!='Masters')&
    (df['education']!='Doctorate')
]
lower_education.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25070 entries, 2 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             25070 non-null  int64
 1   workclass       25070 non-null  object
 2   fnlwgt          25070 non-null  int64
 3   education       25070 non-null  object
 4   education-num   25070 non-null  int64
 5   marital-status  25070 non-null  object
 6   occupation      25070 non-null  object
 7   relationship    25070 non-null  object
 8   race            25070 non-null  object
 9   sex             25070 non-null  object
 10  capital-gain    25070 non-null  int64
 11  capital-loss    25070 non-null  int64
 12  hours-per-week  25070 non-null  int64
 13  native-country  25070 non-null  object
 14  salary          25070 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.1+ MB

### percentage of people with advanced education make more than 50K

In [20]:
higher_education_rich = round(higher_education[higher_education['salary']=='>50K'].shape[0]/higher_education.shape[0]*100,1)
higher_education_rich

46.5

### percentage of people without advanced education make more than 50K

In [22]:
lower_education_rich = round(lower_education[lower_education['salary']=='>50K'].shape[0]/lower_education.shape[0]*100,1)
lower_education_rich

17.4

  ### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [23]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [24]:
num_min_workers = df[df['hours-per-week']==min_work_hours].shape[0]
rich_percentage = int(df[(df['hours-per-week']==df['hours-per-week'].min())&(df['salary']=='>50K')].shape[0]/num_min_workers*100)
rich_percentage

10

 ### What country has the highest percentage of people that earn >50K?

In [26]:
highest_earning_country = (
        (
            df[df['salary']=='>50K'].groupby(df['native-country'])['native-country'].count())/(
                df.groupby('native-country')['native-country'].count()
    )).idxmax()
highest_earning_country_percentage =  round((
        (
            df[df['salary']=='>50K'].groupby(df['native-country'])['native-country'].count())/(
                df.groupby('native-country')['native-country'].count()
    )).max()*100,1)
highest_earning_country_percentage

41.9

 ### What is the most popular occupation for those who earn >50K in India.

In [27]:
top_IN_occupation = df[(df['salary']=='>50K')&(df['native-country']=='India')]['occupation'].value_counts().index[0]
top_IN_occupation

'Prof-specialty'

## Conclusion

In [33]:
print("Number of each race:\n", race_count) 
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty